body {
    background-color: transparent!important;
}

.home {
    background-image: url(http://artwiki.wikidot.com/local--files/creating-screentones/Screentone1.jpg);
}

.fullpage {
    height: 100vh;
}

.dibujo {
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100vh;
    transition: all 1s;
}

.dibujo.hueFilterAnimated {
    animation: breath 3s ease infinite;
}

.invertir {
    filter: invert(1);
}

@keyframes breath {
	0%,100% {
		filter: hue-rotate(0deg);
        transform: rotate3d(0,0,0,360deg);

	}
	50% {
		filter: hue-rotate(360deg);
        transform: rotate3d(1,1,1,360deg);

	}
}
